{include_php file="file:tpleditor.php"}


{if $smarty.get.tpleditorupd && $smarty.get.tpl!="new"}
	{if $tplupdnew == 1} {include file=$smarty.get.tplupd}
	{else} {include file=$smarty.get.tpl}
	{/if}
{elseif $tpleditor_strongerror}
   {error msg=$tpleditor_strongerror}
{else}
   {if $tpleditor_error}{error msg=$tpleditor_error}{/if}
   {if $tpleditor_state}{state msg=$tpleditor_state}{/if}

   {menu name=zorg}
   {menu name=utilities}

   <br />
   <div align="left">
   {spc i=6} <a href="{url tpl=8}" target="_blank">zorg TPL Reference</A>
   </div>

   <h3>
   {if $tpleditor_frm.id}
   	{if $tpleditor_frm.title}{$tpleditor_frm.title}
   	{else}tpl {$tpleditor_frm.id}{/if}
   {else}Neues Template erstellen
   {/if}
   </h3>



   {form action="tpleditor.php"}
   <TABLE>
      <tr>
         <td align="left" width="20%">ID:</td>
         <TD align="left">{$tpleditor_frm.id} <INPUT type="hidden" name="frm[id]" value="{$tpleditor_frm.id}"></td>
         <TD align="left" width="15%">Created:</TD>
         <TD align="left" width="20%">{$tpleditor_frm.created|datename}</TD>
      </tr>
      <TR>
         <TD align="left">Lese-Rechte:</TD>
         <TD align="left">
            <SELECT name="frm[read_rights]" size="1" class="text">
               {html_options values=$rgroupids selected=$tpleditor_frm.read_rights output=$rgroupnames}
            </SELECT>
         </TD>
         <TD align="left">&nbsp;</TD>
         <TD align="left">by {$tpleditor_frm.owner|username}</TD>
      </TR>
      <TR>
         <TD align="left">Schreib-Rechte:</TD>
         <TD align="left">
            <SELECT name="frm[write_rights]" size="1" class="text">
               {html_options values=$wgroupids selected=$tpleditor_frm.write_rights output=$wgroupnames}
            </SELECT>
         </TD>
         <TD align="left">Last Update:</TD>
         <TD align="left">{$tpleditor_frm.last_update|datename}</TD>
      </TR>
      <TR>
         <TD align="left">Page-Title:</TD>
         <TD align="left"><INPUT class="text" size="30" name="frm[page_title]" value="{$tpleditor_frm.page_title}"> - zorg.ch</TD>
         <TD>&nbsp;</TD>
         <TD align="left">by {$tpleditor_frm.update_user|username}</TD>
      </TR>
      <tr>
         <TD align="left" valign="top">Titel:</TD>
         <TD align="left"><INPUT class="text" size="50" name="frm[title]" value="{$tpleditor_frm.title}"></TD>
         <TD>&nbsp;</TD>
         <TD>&nbsp;</TD>
      </TR>
      <TR>
      	<TD align="left" valign="top">Word (optional):</TD>
      	<TD align="left">
      		{if !$tpleditor_frm.word}
      			<input class="text" size="30" name="frm[word]" value="{$tpleditor_frm.word}">
      		{else}
      			{$tpleditor_frm.word}
      		{/if}
      	</TD>
    	</TR>
      <TR>
         <TD align="left">Rahmen-Typ:</TD>
         <TD align="left">
            <SELECT name="frm[border]" size="1" class="text">
               {html_options values=$bordertypids selected=$tpleditor_frm.border output=$bordertypnames}
            </SELECT>
         </TD>
      </TR>
      <TR>
         <TD align="left" valign="top">Using Packages:</TD>
         <TD align="left">
            <INPUT class="text" size="50" name="frm[packages]" value="{$tpleditor_frm.packages}"><br />
            <div class="small">(Mit Semikolon ; getrennt)</DIV>
         </TD>
      </TR>
      <tr>
         <td colspan="4" align="left">
            <br />
            <TEXTAREA name="frm[tpl]" class="text" cols="150" rows="30">{$tpleditor_frm.tpl}</TEXTAREA>
         </TD>
      </TR>
      <TR>
         <TD align="center" colspan="4">
            <BR />
            <INPUT class="button" type="submit" value=" Speichern &amp; Schliessen ">
            {spc i=8}
            {button url=$tpleditor_close_url}  Schliessen  {/button}
         </TD>
      </TR>
   </TABLE>
   {/form}
{/if}