{include_php file="file:tpleditor.php"}


{if $smarty.get.tpleditorupd && $smarty.get.tpl!="new"}
	{if $tplupdnew == 1} {include file=$smarty.get.tplupd}
	{else} {include file=$smarty.get.tpl}
	{/if}
{elseif $tpleditor_strongerror}
   {error msg=$tpleditor_strongerror}
{else}
   {if $tpleditor_error}{error msg=$tpleditor_error}{/if}
   {if $tpleditor_state}{state msg=$tpleditor_state}{/if}

   {menu name=zorg}
   {menu name=utilities}

   <br />
   <div align="left">
   {spc i=6} <a href="{url tpl=8}" target="_blank">zorg TPL Reference</A>
   </div>

   <h3>
   {if $tpleditor_frm.id}
   	{if $tpleditor_frm.title}{$tpleditor_frm.title}
   	{else}tpl {$tpleditor_frm.id}{/if}
   {else}Neues Template erstellen
   {/if}
   </h3>


   <script src="{$smarty.const.JS_DIR}autosize.min.js"></script>
   {form action='tpleditor.php'}
   <table id="tpleditor" class="tpleditor">
      <tr>
         <td align="left" width="20%">Template ID:</td>
         <td align="left">{$tpleditor_frm.id} <input type="hidden" id="tplid" name="frm[id]" value="{$tpleditor_frm.id}"></td>
         <td align="left" width="15%">Created:</td>
         <td align="left" width="20%">{$tpleditor_frm.created|datename}</td>
      </tr>
      <tr>
         <td align="left">Lese-Rechte:</td>
         <td align="left">
            <select id="tpl_read_rights" name="frm[read_rights]" size="1" class="text">
               {html_options values=$rgroupids selected=$tpleditor_frm.read_rights output=$rgroupnames}
            </select>
         </td>
         <td align="left">&nbsp;</td>
         <td align="left">by {$tpleditor_frm.owner|username}</td>
      </tr>
      <tr>
         <td align="left">Schreib-Rechte:</td>
         <td align="left">
            <select id="tpl_write_rights" name="frm[write_rights]" size="1" class="text">
               {html_options values=$wgroupids selected=$tpleditor_frm.write_rights output=$wgroupnames}
            </select>
         </td>
         <td align="left">Last Update:</td>
         <td align="left">{$tpleditor_frm.last_update|datename}</td>
      </tr>
      <tr>
         <td align="left" valign="top">Template Bezeichnung:</td>
         <td align="left"><input class="text" size="50" id="tpl_title" name="frm[title]" value="{$tpleditor_frm.title}"></td>
         <td>&nbsp;</td>
         <td align="left">by {$tpleditor_frm.update_user|username}</td>
      </tr>
      <tr>
         <td align="left">Page-Title:</td>
         <td align="left"><input class="text" size="30" id="page_title" name="frm[page_title]" value="{$tpleditor_frm.page_title}">{$smarty.const.PAGETITLE_SUFFIX}</td>
         <td>&nbsp;</td>
         <td>&nbsp;</td>
      </tr>
      <tr>
      	<td align="left" valign="top">Word (optional):</td>
      	<td align="left">
      		{if !$tpleditor_frm.word}
      			<input class="text" size="30" id="word" name="frm[word]" value="{$tpleditor_frm.word}">
      		{else}
      			{$tpleditor_frm.word}
      		{/if}
      	</td>
    	</tr>
      <tr>
         <td align="left">Rahmen-Typ:</td>
         <td align="left">
            <select id="border" name="frm[border]" size="1" class="text">
               {html_options values=$bordertypids selected=$tpleditor_frm.border output=$bordertypnames}
            </select>
         </td>
      </tr>
      <tr>
         <td align="left" valign="top">Using Packages:</td>
         <td align="left">
            <input class="text" size="50" id="packages" name="frm[packages]" value="{$tpleditor_frm.packages}"><br />
            <div class="small">(Mit Semikolon ; getrennt)</DIV>
         </td>
      </tr>
      <tr>
         <td colspan="4" align="left">
            <br />
            <textarea id="content" name="frm[tpl]" class="text" cols="150" rows="30">{$tpleditor_frm.tpl}</textarea>
         </td>
      </tr>
      <tr>
         <td align="center" colspan="4">
            <br>
            <input class="button" type="submit" id="save" value=" Speichern &amp; Schliessen ">
            {spc i=8}
            {button url=$tpleditor_close_url}  Schliessen  {/button}
         </td>
      </tr>
   </table>
   {/form}
   <script>autosize(document.querySelector('textarea'));</script>
{/if}