

<div align="right" class="small">

{if $tpl.id == $user->tpl_favourite}
   <nobr>| <a href="{$smarty.server.PHP_SELF}?{$smarty.server.QUERY_STRING}&usersetfavourite=0">Favoriten-Seite entfernen</a></nobr>
{/if}

{if $tpl.root == $tpl.id}
   {if $tpl.id != $user->tpl_favourite && !$user->tpl_favourite}
      <nobr>| <a href="{$smarty.server.PHP_SELF}?{$smarty.server.QUERY_STRING}&usersetfavourite={$tpl.id}">als Favoriten-Seite setzen</a></nobr>
   {/if}
   <nobr>| {$tpl.size|sizebytes}</nobr>
   <nobr>| r: {$tpl.read_rights|usergroup}</nobr>
   <nobr>| w: {$tpl.write_rights|usergroup}</nobr>
{/if}

<nobr>| updated: {$tpl.update_user|username}, {$tpl.update|datename}</nobr>
<nobr>| <a href="/smarty.php?tpl={$tpl.id}">tpl={$tpl.id}</a></nobr>

{if tpl_permission($tpl.write_rights, $tpl.owner)}
   <nobr>| {edit_link}[edit]{/edit_link}</nobr>
{/if}

</DIV>