# Ignore all these files & folders:
/*
/www/test
*.local.php
*apis_key.inc.php
*.log
/vendor

# ...and DON'T ignore these things
!.github/
!.gitignore
!.gitkeep
!.issuetracker
!.npmignore
!composer.lock
!/www
!/cd
!/cron
!/keys
!/migration
!/scripts
