# Ignore all these files & folders:
/*
**/test/
/data
/vendor
.env
*apis_key.inc.php
*.dccache
*.code-workspace
*.local.php
*.log

# ...and DON'T ignore these things
!.github/
!.gitignore
!.gitkeep
!.issuetracker
!.npmignore
!.editorconfig
!.vscode/
!composer.json
!composer.lock
!LICENSE
!README.md
!/migration
!/www
