BODY {
	BACKGROUND-COLOR: #ffffff;
	MARGIN-LEFT: 20px;
	MARGIN-RIGHT: 20px;
	scrollbar-base-color: #E6E6E6;
	scrollbar-track-color: #ffffff;
	scrollbar-face-color: #C0C0C0;
	scrollbar-highlight-color: #808080;
	scrollbar-arrow-color: #000000
}
*{
	COLOR: #000000;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 10pt
}
A:link {
	COLOR: #7C7C7C;
	TEXT-DECORATION: none;
	FONT-SIZE: 10pt
}
A:visited {
	COLOR: #7C7C7C;
	TEXT-DECORATION: none;
	FONT-SIZE: 10pt
}
A:hover {
	COLOR: #000000;
	TEXT-DECORATION: none;
	FONT-SIZE: 10pt
}
A:active {
	COLOR: #7C7C7C;
	TEXT-DECORATION: none;
	FONT-SIZE: 10pt
}
A:unknown {
	COLOR: #7C7C7C;
	TEXT-DECORATION: none;
	FONT-SIZE: 10pt
}
TABLE.maintables {
	BACKGROUND-COLOR: #ffffff;
	BORDER-BOTTOM: #5F5F5F 1px solid;
	BORDER-LEFT: #ffffff 1px solid;
	BORDER-RIGHT: #ffffff 1px solid;
	BORDER-TOP: #ffffff 1px solid;
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px
}
TABLE.titel {
	BACKGROUND-COLOR: #EEEEEE;
	BORDER-BOTTOM: #5F5F5F 1px solid;
	BORDER-LEFT: #5F5F5F 1px solid;
	BORDER-RIGHT: #5F5F5F 1px solid;
	BORDER-TOP: #5F5F5F 1px solid;
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px
}
TABLE.text {
	BACKGROUND-COLOR: #ffffff;
	BORDER-BOTTOM: #5F5F5F 1px solid;
	BORDER-LEFT: #5F5F5F 1px solid;
	BORDER-RIGHT: #5F5F5F 1px solid;
	BORDER-TOP: #ffffff 1px solid;
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px
}
INPUT.field {
	BACKGROUND-COLOR: #ffffff;
	BORDER-BOTTOM-COLOR: #5F5F5F 1px solid;
	BORDER-LEFT-COLOR: #5F5F5F 1px solid;
	BORDER-RIGHT-COLOR: #5F5F5F 1px solid;
	BORDER-TOP-COLOR: #5F5F5F 1px solid;
	FONT-SIZE: 10pt;
	COLOR: #000000
}
TEXTAREA.text {
	BACKGROUND-COLOR: #ffffff;
	BORDER-BOTTOM-COLOR: #5F5F5F 1px solid;
	BORDER-LEFT-COLOR: #5F5F5F 1px solid;
	BORDER-RIGHT-COLOR: #5F5F5F 1px solid;
	BORDER-TOP-COLOR: #5F5F5F 1px solid;
	FONT-SIZE: 10pt;
	COLOR: #000000
}
INPUT.button {
	BACKGROUND-COLOR: #E0E0E0;
	BORDER-BOTTOM-COLOR: #5F5F5F 1px solid;
	BORDER-LEFT-COLOR: #5F5F5F 1px solid;
	BORDER-RIGHT-COLOR: #5F5F5F 1px solid;
	BORDER-TOP-COLOR: #5F5F5F 1px solid;
	FONT-SIZE: 10pt;
	COLOR: #000000
}
INPUT.radio {
	BACKGROUND-COLOR: #ffffff;
	BORDER-BOTTOM-COLOR: #5F5F5F 1px solid;
	BORDER-LEFT-COLOR: #5F5F5F 1px solid;
	BORDER-RIGHT-COLOR: #5F5F5F 1px solid;
	BORDER-TOP-COLOR: #5F5F5F 1px solid;
	FONT-SIZE: 10pt;
	COLOR: #000000
}
INPUT.radio2 {
	BACKGROUND-COLOR: #eeeeee;
	BORDER-BOTTOM-COLOR: #5F5F5F 1px solid;
	BORDER-LEFT-COLOR: #5F5F5F 1px solid;
	BORDER-RIGHT-COLOR: #5F5F5F 1px solid;
	BORDER-TOP-COLOR: #5F5F5F 1px solid;
	FONT-SIZE: 10pt;
	COLOR: #000000
}
INPUT.fileinput {
	BACKGROUND-COLOR: #ffffff;
	BORDER-BOTTOM-COLOR: #5F5F5F 1px solid;
	BORDER-LEFT-COLOR: #5F5F5F 1px solid;
	BORDER-RIGHT-COLOR: #5F5F5F 1px solid;
	BORDER-TOP-COLOR: #5F5F5F 1px solid;
	FONT-SIZE: 10pt;
	COLOR: #000000
}
SELECT.dropdown {
	BACKGROUND-COLOR: #ffffff;
	BORDER-BOTTOM-COLOR: #5F5F5F 1px solid;
	BORDER-LEFT-COLOR: #5F5F5F 1px solid;
	BORDER-RIGHT-COLOR: #5F5F5F 1px solid;
	BORDER-TOP-COLOR: #5F5F5F 1px solid;
	FONT-SIZE: 10pt;
	COLOR: #000000
}

TABLE.ebene2 {
	BACKGROUND-COLOR: #BFBFFF;
	BORDER-BOTTOM: #5F5F5F 1px solid;
	BORDER-LEFT: #5F5F5F 1px solid;
	BORDER-RIGHT: #5F5F5F 1px solid;
	BORDER-TOP: #5F5F5F 1px solid;
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px
}
INPUT.rateben2 {
	BACKGROUND-COLOR: #BFBFFF;
	BORDER-BOTTOM-COLOR: #5F5F5F 1px solid;
	BORDER-LEFT-COLOR: #5F5F5F 1px solid;
	BORDER-RIGHT-COLOR: #5F5F5F 1px solid;
	BORDER-TOP-COLOR: #5F5F5F 1px solid;
	FONT-SIZE: 10pt;
	COLOR: #000000
}
TABLE.ebene3 {
	BACKGROUND-COLOR: #B9FFB9;
	BORDER-BOTTOM: #5F5F5F 1px solid;
	BORDER-LEFT: #5F5F5F 1px solid;
	BORDER-RIGHT: #5F5F5F 1px solid;
	BORDER-TOP: #5F5F5F 1px solid;
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px
}
INPUT.rateben3 {
	BACKGROUND-COLOR: #B9FFB9;
	BORDER-BOTTOM-COLOR: #5F5F5F 1px solid;
	BORDER-LEFT-COLOR: #5F5F5F 1px solid;
	BORDER-RIGHT-COLOR: #5F5F5F 1px solid;
	BORDER-TOP-COLOR: #5F5F5F 1px solid;
	FONT-SIZE: 10pt;
	COLOR: #000000
}
TABLE.ebene4 {
	BACKGROUND-COLOR: #FEA5A5;
	BORDER-BOTTOM: #5F5F5F 1px solid;
	BORDER-LEFT: #5F5F5F 1px solid;
	BORDER-RIGHT: #5F5F5F 1px solid;
	BORDER-TOP: #5F5F5F 1px solid;
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px
}
INPUT.rateben4 {
	BACKGROUND-COLOR: #FEA5A5;
	BORDER-BOTTOM-COLOR: #5F5F5F 1px solid;
	BORDER-LEFT-COLOR: #5F5F5F 1px solid;
	BORDER-RIGHT-COLOR: #5F5F5F 1px solid;
	BORDER-TOP-COLOR: #5F5F5F 1px solid;
	FONT-SIZE: 10pt;
	COLOR: #000000
}
TABLE.unread {
	BACKGROUND-COLOR: #F5FFAE;
	BORDER-BOTTOM: #5F5F5F 1px solid;
	BORDER-LEFT: #5F5F5F 1px solid;
	BORDER-RIGHT: #5F5F5F 1px solid;
	BORDER-TOP: #5F5F5F 0px solid;
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px
}

