body > .toolbar {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 1px solid #2d3642;
    border-top: 1px solid #6d84a2;
    padding: 10px;
    height: 45px;
    background: url(iui/toolbar.png) #6d84a2 repeat-x;
}

.error {									/* Custom style */
	padding: 8px 0 0 0px;
	position: static;
	overflow: hidden;
	height: 40px;
    background: url(img/errorBar.png) #320905 repeat-x;
}

.error > h1 {								/* Custom style */
    left: 0;
    top: 0;
    margin: 1px 0 0 10px;
    height: 40px;
    font-size: 20px;
    width: 100%;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.4) 0px -1px 0;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
}

body[orient="landscape"] > .error > h1 {	/* Custom style */
    margin-left: -125px;
    width: 250px;
}

#forceBackButton {
	display: inline;
	left: 6px;
	right: auto;
	padding: 0;
	max-width: 55px;
	border-width: 0 8px 0 14px;
	-webkit-border-image: url(iui/backButton.png) 0 8 0 14;
}

.redButton {
    display: block;
    border-width: 0 12px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-decoration: inherit;
    color: inherit;
}

.redButton {
    -webkit-border-image: url(iui/redButton.png) 0 12 0 12;
	color:#fff;
    text-shadow: #7a0001 0 -1px 0;
}

li small {
	font-size: 10pt;
	color: #6e62ff;
}


li .linkLabel {
	display: block;
	position: static;
}


li .newItemIndicator {		/* Custom style */
	display: block;
	position: absolute;
	margin: 0px 0 0 0;
	left: 80%;
	top: 7px;
	text-align: center;
	font-size: 60%;
	letter-spacing: 0em;
	color: #ffffff;
	font-weight: normal;
	text-decoration: none;
	width: 32px;
	height: 26px;
	padding: 5px 0 0 0;
	background: url(img//newBatchWide.png) no-repeat;
}

li .newItem {				 /* Custom style */
	display: block;
	position: absolute;
	margin: 5px 0 0 0;
	left: 80%;
	top: 7px;
	text-align: center;
	font-size: 60%;
	letter-spacing: 0em;
	color: #ffffff;
	font-weight: normal;
	text-decoration: none;
	width: 16px;
	height: 16px;
	padding: 5px 0 0 0;
	background: url(img//newBatchBlueSmall.png) no-repeat;
}

li .threadTitle {			/* Custom style */
	display: block;
	position: static;
}

a.addle:link, a.addle:visited {	 /* Custom style */
	color: red;
	text-decoration: none;
}

.message {					/* Custom style */					                  					                  
	width: 100%;
	display: block;
	position: relative;
	background-color: none;
	margin-bottom: 7px;
}

.messageDate {
	text-align: center;
	color: #8e8e8e;
	display: block;
	position: static;
	background-color: none;
	clear: both;
}

.msgSubject {
	color: #000000;
	font-weight: bold;
	font-size: small;
	display: block;
}

.messageInTop {				 /* Custom style */
	background-position: left top;
	background-image: url(img/messageInTop.png);
	background-repeat: no-repeat;
	display: block;
	position: static;
	height: 14px;
	width: 252px;
}

.messageInMiddle {				/* Custom style */
	max-width: 225px;
	padding-right: 12px;
	height: 100%;
	background-position: left top;				                  
	background-repeat: repeat-y;				                  
	background-image: url(img/messageInMiddle.png);
	width: 252px;
	padding-left: 15px;
	color: #000;
	position: static;
	display: block;
}

.messageInBottom {			/* Custom style */
	background-position: left bottom;
	width: 252px;
	height: 14px;
	background-repeat: no-repeat;
	background-image: url(img/messageInBottom.png);
	display: block;
	position: static;
}

.messageOutTop {			/* Custom style */
	background-position: right top;
	background-image: url(img/messageOutTop.png);
	background-repeat: no-repeat;
	display: block;
	position: static;
	height: 14px;
	width: 252px;
	float: right;
	clear: both;
}

.messageOutMiddle {			/* Custom style */
	max-width: 225px;
	padding-left: 12px;
	padding-right: 15px;
	height: 100%;
	background-position: right top;
	background-repeat: repeat-y;
	background-image: url(img/messageOutMiddle.png);
	width: 252px;
	color: #000;
	position: static;
	display: block;
	float: right;
	clear: right;
}

.messageOutBottom {			/* Custom style */
	background-position: right bottom;
	width: 252px;
	height: 14px;
	background-repeat: no-repeat;
	background-image: url(img/messageOutBottom.png);
	display: block;
	position: static;
	float: right;
	clear: right;
}
