# Both directives are now part of the Apache Configs!
#RewriteEngine On

# Enforce "zorg.ch" (WITHOUT "www.")
#RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
#RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

# Redirect file requests to the getfile.php Script
# See getfile.php for more information
#RewriteRule ^files/([0-9]+)/(.*) /getfile.php?user=$1&file=$2

<ifModule mod_rewrite.c>
	<IfModule mod_negotiation.c>
		# Info: https://stackoverflow.com/a/25423722/5750030
		Options -MultiViews
	</IfModule>
	RewriteEngine On
	# Rewrite Flags - https://httpd.apache.org/docs/2.4/rewrite/flags.html
	#    R=301 = Redirect with HTTP Code
	#    QSA = Combine Query strings
	#    NC = No case - match case-insensitive
	#    NE = No escape - prevent special characters to be converted to hexcode
	#    L = Last Rule (stop)
	RewriteRule wiki.php / [R=301,QSA,NC,L]
	RewriteRule smarty.php / [R=301,QSA,NC,L]
	
	# Pretty URL for User Profile page
	# https://wiki.apache.org/httpd/RewriteQueryString#Making_the_Query_String_Part_of_the_Path
	RewriteCond %{QUERY_STRING} user_id=([0-9]+)
	RewriteRule profil.php /user/%1? [R,NC,L]
	
	# !-f if the file with the specified name in the browser doesn't exist,
	# !-d or the directory in the browser doesn't exist then proceed to the rewrite rules below
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
		RewriteRule user/(.*?[^/])(/.*)?$ /?username=$1 [QSA,NC,NE,L]
		RewriteRule tpl/([0-9]+)(/.*)?$ /?tpl=$1 [QSA,NC,L]
		RewriteRule page/([\S]+?[^/])(/.*)?$ /?word=$1 [QSA,NE,NC,L]
		RewriteRule event/([0-9]{4})(?:/([0-9]{2}))?(?:/([0-9]{2}))?(?:/([\w-]+))? /?event=$4&year=$1&month=$2&day=$3 [QSA,NE,NC,L]
</IfModule>
