# Ignore everything in this directory
*
# Except this file
!.gitignore
# -- INSTRUCTIONS ---
# Add to this folder the following directories
# /errlog
# /files
# /gallery
#   /upload
# /smartylib
#   /cache
#   /templates_c
# /tauschboerse
#   /upload
# /temp
# /upload
# /userimages
